<h1>About us!</h1>
<h2>miatas r cool</h2>
<p>miata miata miata miata miata miata miata miata mia</p>
<p>In the late 1970’s, the Miata was simply a sketch done by journalist Bob Hall for Kenichi Yamamoto, the head of Mazda R&D. 
<br>It took a decade to convince the higher ups at the Mazda company to pursue the affordable sports car. And when the first models 
<br>hit the streets in 1989, Mazda’s success with the Miata was set. The Mazda Miata first appeared at the Chicago Auto Show in 
<br>1989 and the company has made sure to keep the Miata affordable ever since. This first generation of this small Mazda ran from 
<br>1989-1997, and while its initial 1.6L engine was good for 115 hp, by the end of the generation it carried a 1.8L engine with 131 
<br>hp. As a small roadster, these numbers give this model quite the kick.</p>
<img src="/static/miatafunny.png" width="400">
<img src="/static/miatafunny2.png" width="400">