
{% extends 'base.html' %}
{% block body %}
<class class="leftcolumn">
    <h1><strong>My Goal:</strong></h1>
    <h2>My goal is to make people more aware of how they're <br>spending their money which includes:</h2> <br>
        <li>Making sure they're updated on the monthly recurring subscriptions that they forgot to remove <br></li>
        <li>Knowing how their money is being spent everyday to manage it <br></li>
        <li>Helping people better manage their money<br></li>
    
</class>
<class class="imgleftcolumn">
    <img src="/static/money.jpg" width="500px" style="border: 10px solid #000000;"></img>
</class>
<class class="rightcolumn">
    <h1><strong>About me!</strong></h1>
    <p><strong>I am a student at Oakland Technical High School, I plan <br>
        on attending Cal Poly SLO for college where I plan to <br>
        major in Electical Engineering. I am currently invested <br>
        in various stocks to help me liquidate the money that <br>
        I make from my job as a Lacrosse coach for underserved <br>
        youth summer camps. I play basketball and lacrosse <br>
        competitevly, and coach the respective sports as well. <br>
        I also really like cars. :)
    </strong></p>
<class class="imgrightcolumn">
    <img src="static/image0 (1).jpeg" width="300px" style="border: 10px solid #000000"></img>
</class>
</class>
{% endblock %}