{% extends "base.html" %}

{% block body %}
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
        <h1></h1>
<a class="form">
        <form method=post>
            {{ form.hidden_tag() }}

            <p>
                Manufacturer Here<br>
                {{ form.manufacturer(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.manufacturer.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                Type Here<br>
                {{ form.type(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.type.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                Model Here<br>
                {{ form.model(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.model.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>            <p>
                Year Here<br>
                {{ form.year(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.year.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>            <p>
                Engine Here<br>
                {{ form.engine(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.engine.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>            <p>
                Gas Here<br>
                {{ form.gas(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.gas.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>    
             <p>
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">






<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


                {{form.submit()}}
            </p>
        </form>
    </class>      
{% endblock %}
