{% extends "base.html" %}

{% block body %}
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
        <h1></h1>
        <form method=post class="form">
            {{ form.hidden_tag() }}

            <p>
                Money Spent/Earned Here<br>
                {{ form.manufacturer(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.manufacturer.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                Recurring Payment? Type "yes" or "no"<br>
                {{ form.recurring(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.recurring.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                If "yes" on "Recurring Payment", how often will it recur? Ex. Monthly, Weekly<br>
                If "No", type "No"<br>
                {{ form.model(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.model.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>            <p>
                Date Here<br>
                {{ form.year(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.year.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %} 
             <p>
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">






<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


                {{form.submit()}}
            </p>
        </form>
    </class>      
{% endblock %}
